@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);
@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);
@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Abel);

#nav-rest, #nav-best {
  font-family: "Waiting for the Sunrise", arial;
}

#nav-rest {
  font-size: 18px;
}

#nav-best {
  font-size: 36px;
}

#about {
  margin-top: 100px;
}

input {
  border-radius: 5px;
  padding-left: 7px;
}

#map_options {
  padding-top: 25px;
}

form {
  color: white;
}

#start, #end {
  color: black;
}

form > p {
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

#map, #directions-panel {
  margin-top: 25px;
}

.navbar-wrapper {
  background: rgb(142, 142, 142); /* Fall-back for browsers that don't support rgba */
  background: rgba(142, 142, 142, .75);
}

#map, #directions-panel {
  border: 5px solid #333;
}



