@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);
@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);
@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Abel);

#nav-rest, #nav-best {
  font-family: "Waiting for the Sunrise", arial;
}

#nav-rest {
  font-size: 24px;
  text-transform: lowercase; 
}

#nav-best {
  font-size: 36px;
}

#about {
  margin-top: 100px;
  padding: 10px;
}

#stop_point, #mtd {
  color: black;
}

#map_options {
  padding-top: 25px;
}

form {
  color: white;
}

#start, #end {
  color: black;
}

form > p {
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

input > p {
  black
}

#map, #directions-panel {
  margin-top: 25px;
  margin-bottom: 400px;
  border: 5px solid #333;
}

#search_again_button {
  margin-top: 50px;
}

.navbar-wrapper {
  background: rgb(142, 142, 142); /* Fall-back for browsers that don't support rgba */
  background: rgba(142, 142, 142, .75);
}

.footer {
  font-family: "Waiting for the Sunrise", Helvetica, Arial, sans-serif;
  font-size: 20px;
  background-color: rgb(142, 142, 142);
  color: white;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer a {
  color: #003366;
}

#blurb {
  font-family: "Waiting for the Sunrise", Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: white;
  margin-top: 25px;
}

#blurb > p {
  line-height: 1.2;
} 

.infowindow > p {
  line-height: 1.2;
}

.infowindow > img {
  margin-bottom: 5px;
}

.pac-container:after{
    content:none !important;
}

/* INPUTS */
input, select {
  border-radius: 5px;
  padding-left: 7px;
}

input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-sm {
  height: 30px;
  line-height: 30px;
}

textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  display: inline;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

select.input-lg {
  height: 40px !important;
  line-height: 40px !important;
}
