@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);
@import url(http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);
@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Abel);

#nav-rest, #nav-best {
  font-family: "Waiting for the Sunrise", arial;
}

#nav-rest {
  font-size: 24px;
  text-transform: lowercase; 
}

#nav-best {
  font-size: 36px;
}

#about {
  margin-top: 100px;
  padding: 10px;
}

#stop_point, #mtd {
  color: black;
}

input {
  border-radius: 5px;
  padding-left: 7px;
}

#map_options {
  padding-top: 25px;
}

form {
  color: white;
}

#start, #end {
  color: black;
}

form > p {
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

#map, #directions-panel {
  margin-top: 25px;
  margin-bottom: 250px;
  border: 5px solid #333;
}

.navbar-wrapper {
  background: rgb(142, 142, 142); /* Fall-back for browsers that don't support rgba */
  background: rgba(142, 142, 142, .75);
}

.footer {
  font-family: "Waiting for the Sunrise", Helvetica, Arial, sans-serif;
  font-size: 20px;
  background-color: rgb(142, 142, 142);
  color: white;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer a {
  color: #003366;
}

#blurb {
  font-family: "Waiting for the Sunrise", Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: white;
  margin-top: 25px;
}

#blurb > p {
  line-height: 1.2;
} 

.infowindow > p {
  line-height: 1.2;
}

.infowindow > img {
  margin-bottom: 5px;
}
