<div id="map_options">
  <form>
    Start: <input type="text" name="start" id="start" autocomplete="on" value="Chicago, IL"/>
    End: <input type="text" name="end" id="end" autocomplete="on" value="New York, NY"/>
    <br>Where in your route would you like to stop? 
    <select id="stop_point">
      <option value="25">1/4</option>
      <option selected="selected" value="50">1/2</option>
      <option value="75">3/4</option>
    </select>
    <br><input type="submit" id="map_options_submit">
  </form>
</div>

<div id="restaurant_options">
  <form>
    <br>How far away from your route would you like to deviate?
    <select id="mtd">
      <option value="1609">1</option>
      <option selected="selected" value="8046">5</option>
      <option value="16093">10</option>
    </select> miles
    <br>What are you looking for?<br>
      <input type="radio" id="type" name="type" value="food">A quick bite
      <input type="radio" id="type" name="type" value="restaurant">Something nicer<br>
      <input type="radio" id="sort" name="sort" value="1">Closest
      <input type="radio" id="sort" name="sort" value="2">Highest rated
    <br><input type="submit" id="restaurant_options_submit">
  </form>
</div>

<div style='width: 100%'>
  <div id="map" style='height: 400px;'></div>
</div>



